{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
    <h1>Parolni tilash</h1>
<p>Parolingizni o'zgartirish uchun quyidagi formani to'lditring</p>

{% if validlink %}

<p>Iltimos yangi parolni ikki marotaba kiriting</p>
<form method="post">{% csrf_token %}{{form.as_p}}
<p><button type="submit">PArolni almashtirish</button> </p>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi yoki ishlatilish vaqti o'tib ketgan bo'lishi mumkin</p>

{% endif %}

{% endblock content %}