{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi profili {% endblock title %}

{% block content %}

<style>
        #profile-photo{
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
</style>
    <h3>Xush kelibsiz! , {{user.username}}</h3>

<button type="submit" class="btn btn-danger">
<form id="logout-form" action="{% url 'logout' %}" method="post">
     <h4><a href="#" onclick="document.getElementById('logout-form').submit(); return false;" style="color: white">Profildan chiqish</a></h4>
    {% csrf_token %}
</form>
</button>


<h2>Siz haqingizda ma'lumotlar</h2>

    <img  id="profile-photo" src="{{ profil_info.photo.url }}" width="30%">
    <h4>Tug'ilgan yilingiz: {{profil_info.date_of_birth}}</h4>
    <label>Username:</label><input  class="form-control" value="{{user.username}}" readonly><br>
    <label>Emailingiz:</label><input  class="form-control" value="{{user.email}}" readonly><br>
    <label>Familiyangiz:</label><input class="form-control" value="{{user.first_name}}" readonly><br>
    <label>Ismingiz:</label><input  class="form-control" value="{{user.last_name}}" readonly><br>



    <h4><a href="{% url 'password_change' %}" class="text-danger">
        <button type="button" class="btn btn-danger"> Parolni almashtirish </button>
    </a> |
        <a href="{% url 'edit_user_information' %}" class="text-danger">
            <button type="button" class="btn btn-danger"> Profil ma'lumotlarini o'zgartirish </button>
        </a>
    </h4>

{% endblock content %}