{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} {{ news.title }} {% endblock title %}

{% block content %}
<style>
    #news_photo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    #news_body{
    margin-right: 30%;
    }
    .p1{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    width: 100%;
    }
    .p2{
    font-style: italic;
    }
</style>

<h2>{{news.title}}</h2>
<img src="{{news.image.url}}" id="news_photo">
<p class="p2" align="right">{{news.publish_time}} | <i class="fa fa-eye" aria-hidden="true"></i> : {% get_hit_count for news %} | Izohlar soni: {{ comment_count }}</p>
<p id="news_body" class="p1">{{news.body}}</p>


{% if request.user.is_authenticated and request.user.is_superuser %}
<div class="card-footer text-center">
    <a href="{% url 'news_update' news.slug %}">
        <button type="button" class="btn btn-danger">
            Tahrirlash
        </button>
    </a>
    <a href="{% url 'news_delete' news.slug %}">
        <button type="button" class="btn btn-danger">
        O'chirish
        </button>
    </a>
</div>
{% endif %}<br>
<h4>Bu yangilikga {{ comment_count }} ta izoh qoldirilgan</h4>

{% for comment in comments%}

    <div class="comments" style="padding: 10px">
        <p class="font-weight-bold">
            {{comment.user}}
        <span class="text-muted font-weight-normal">
            {{comment.created_time}}
        </span>
        </p>
        {{comment.body | linebreaks}}
    </div>

{% endfor %}

{% if user.is_authenticated %}
<div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">
        <h4>Izoh qoldirish</h4>
        <form method="post" style="margin-top: 1.3em">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">
                Yuborish
            </button>
        </form>
    </div>
</div>
{% else %}
<div class="card-body">
    <p class="text-danger">Faqatgina ro'yhatdan o'tgan foydalanuvchilaer izoh qoldirishi mumkin</p>
    <p>Izoh qoldirish uchun <a href="{% url 'user_register' %}" style="color: blue">
        <button type="button" class="btn btn-access">
        ro'yhatdan
        </button>
    </a> o'ting yoki
        <a href="{% url 'login' %}" style="color: blue">login</a> qiling</p>
</div>


{% endif %}

{% endblock content %}